@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(241,239,242,.5);
    position: absolute;
    width: 100%;
    padding: 10px 0px;
    z-index: 2;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
    transition: 0.8s;
    top: 0px;
}

header h1{
    position: relative;
    margin-left: 15px;
}

header p{
    background-color: rgba(241,239,242,.5);
    position: relative;
    top: 30px;
    float: right;
    margin-right: 8px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
}

header .btn {
    background-color: rgba(241,239,242,.5);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
    cursor: pointer;
}

header .btn img {
    width: 20px;
    transform: rotate(90deg);
}

header .btn span {
    position: relative;
    float: right;
    margin-left: -1px;
    margin-right: 3px;
    margin-top: 4px;
}
header #btnPause{
    position: relative;
    top: 30px;
    float: left;
    margin-left: 8px;
}

.dropdown {
    position: absolute;
    top: 30px;
    right: 10px;
    display: inline-block;
}

#myInput {
    box-sizing: border-box;
    padding: 10px 10px;
    border: none;
}

#suaPontuacao{
    top: auto;
    float: left;
    margin-right: unset;
    border-radius: unset;
    box-shadow: none;
    background: none;
    height: 25px;
}

#salvar { 
    padding: 4px;
    margin-right: 3px;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: rgba(50, 50, 50, 0.096);
    z-index: 1;
    padding: 5px 0px;
}

header .vidas{
    background-color: rgba(241,239,242,.5);
    list-style-type: none;
    position: relative;
    top: 30px;
    float: right;
    margin-right: 8px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
}
header .vidas li{
    display: inline;
    padding: 3px;
}
header .vidas .coracoes img{
    width: 16px;
}

.areaInteracao {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 450px;
    position: relative;
}

.areaInteracao .areaJogo{
    height: 100%;
    width: 100%;
    position: absolute;
}

.areaInteracao .areaJogo .estrela{
    width: 50px;
    transition: 1s;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.areaInteracao .fundoEscuro{
    background-color: rgba(50, 50, 50, 0.3);
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
}

.areaInteracao .fundoEscuro #btnPlay{
    width: 165px;
    position: relative;
    top: 190px;
    left: 610px;
    cursor: pointer;
    z-index: 1;    
}


